<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile-edit</title>
    <link rel="stylesheet" href="/css/addproduct.css">
</head>
<body>
    <h1 class="liya">LiYa</h1> <!-- Added heading -->
    <form action="" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="section">
            <div class="box">
                <div class="head">
                    <img class="image"src="/asset/" alt="" srcset="" >
                </div>
                <div class="text">
                    <label for="">Image</label>
                    <input type="file" name="productimg" id="">
                    <label for="productID">Product ID : </label>
                    <input type="number" name="productID" value="">
                    <label for="product">Product Name :</label>
                    <input type="text" name="product" value="">
                    <label for="price">Price : </label>
                    <input type="number" name="price" value="">
                    <label for="quantity">quantity : </label>
                    <input type="number" name="quantity" value="">
                    <label for="details">More Details : </label>
                    <textarea name="details" id="" cols="30" rows="10" value=""></textarea>
                </div>
                <div class="button">
                    <button>Confirm</button>
                    <button>Back</button>
                </div>
            </div>
        </div>
    </div>
</form> 
</body>
</html>
