<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiYa</title>
    <link rel="icon" type="image/x-icon" href="logo/Kart.png">
    <!-- <link rel="icon" type="image/x-icon" href="/logo/kartlogoimage.jpg"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="stylesheet" href="/css/userhome.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>


<body>
    <header id="header" class="header">
        <div class="navigation">
            <div class="container">
                <nav class="nav__center">
                    <div class="nav__header">
                        <div class="nav__logo">
                            <a href="index.html">
                                <h1>Li<span>Ya</span></h1>
                            </a>
                        </div>
                        <div class="nav__hamburger">
                            <span>
                                <svg>
                                    <use xlink:href="/images/sprite.svg#icon-menu"></use>
                                </svg>
                            </span>
                        </div>
                    </div>

                    <div class="nav__menu">
                        <div class="menu__top">
                            <h1 class="nav__category">Li<span>Ya</span></h1>
                            <div class="close__toggle">
                                <svg>
                                    <use xlink:href="/images/sprite.svg#icon-cross"></use>
                                </svg>
                            </div>
                        </div>
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="#header" class="nav__link scroll-link">Home</a>
                            </li>

                            <li class="nav__item">
                                <a href="#featured" class="nav__link scroll-link">Featured</a>
                            </li>

                            <li class="nav__item">
                                <a href="#blog" class="nav__link scroll-link">Blog</a>
                            </li>

                            <li class="nav__item">
                                <a href="#newsletter" class="nav__link scroll-link">Subscribe</a>
                            </li>

                            <li class="nav__item">
                                <a href="/" class="nav__link">Login</a>
                            </li>
                        </ul>

                        <ul class="nav__icons">
                            <a href="#" class="icon__item">
                                <svg>
                                    <use xlink:href="/images/sprite.svg#icon-search"></use>
                                </svg>
                            </a>

                            <a href="#" class="icon__item">
                                <svg>
                                    <use xlink:href="/images/sprite.svg#icon-user"></use>
                                </svg>
                            </a>

                            <a href="addToCart.html" class="icon__item">
                                <svg>
                                    <use xlink:href="/images/sprite.svg#icon-shopping-basket"></use>
                                </svg>
                                <span>2</span>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        
<form action="/signup" method="post">
    <div class="signUp-side">
        <h2>Signup Here</h2>
        <input type="text" name="name" id="fname" placeholder="First Name">
        <input type="text" name="last" id="lname" placeholder="Last Name">
        <input type="email" name="email" id="email" placeholder="abc@example.com">
        <input type="number" name="phone" id="phone" placeholder="Phone Number">
        <input type="password" name="password" id="password" placeholder="Create Password">
        <button type="submit">Sign up</button>
    </div>
</form>
            
        </div>

        <div class="footer-log">
            <a href="user"><i class="uil uil-angle-left"></i> Go back to Home</a>
        </div>
    </header>
</body>

</html>