body {
    background-image: url(../images/pix2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --default-color: #0E8388;
    --default-color2: #73c5c8;
    --dark-color: #222;
    --dark-color-alt: #3c4858;
    --grey-color: #f9fafd;
    --grey-color-alt: #8492a6;
    --yellow: #ff8400;
    --white: #fff;
}

.main {
    width: 90%;
    margin-top: 30px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-side {
    height: 400px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 2px #4b525d;
    margin-left: 335px;
    margin-top: 100px;
}

.login-side h2 {
    margin-top: 20px;
    background-color: var(--default-color);
    border-radius: 50px;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
}

.login-side input {
    width: 80%;
    margin-top: 50px;
    height: 50px;
    border-bottom: 5px solid black;
    outline: none;
    border: none;
    color: black;
    border-radius: 7px;
    padding: 0px 20px 0px 20px;
}

.login-side button {
    margin-top: 50px;
    width: 70px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--default-color);
    color: #fff;
}

.signUp-side {
    height: 500px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 2px #4b525d;
    margin-left: 350px;
    margin-top: 20px;
}

.signUp-side h2 {
    margin-top: 20px;
    background-color: var(--default-color);
    border-radius: 50px;
    color: rgb(255, 255, 255);
    padding: 5px 30px;
}

.signUp-side input {
    width: 80%;
    margin-top: 20px;
    height: 50px;
    border-bottom: 5px solid black;
    outline: none;
    border: none;
    color: black;
    border-radius: 7px;
    padding: 0px 20px 0px 20px;
}

.signUp-side button {
    margin-top: 30px;
    width: 70px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.footer-log {
    margin: 30px;
    background: none;
}

.footer-log a {
    background-color: var(--default-color);
    color: var(--grey-color);
    border: 2px solid var(--default-color);
    padding: 5px 15px;
    border-radius: 50px;
}
