body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(/images/pix8.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

h1, h2, h3 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"],
button {
    padding: 10px 20px;
    background-color: #0E8388;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover,
button:hover {
    background-color: #0E8388;;
}

#productDetails {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

#totalPrice {
    font-weight: bold;
    color: #333;
}

