/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0E8388;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.wishlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card h2 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.product-card p {
    margin: 5px 0;
}

.product-card button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0E8388;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: #555;
}
