<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Product Review</title>
  <link rel="stylesheet" href="/css/userside/review.css" />
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="reviewHead">
            <div class="d-flex justify-content-between align-items-center">
              <h2>Ratings & Reviews</h2>
              <div class="d-flex align-items-center gap-2">
                <div class="text-end">
                  <p class="proHead">Name</p>
                  <div class="topRating d-flex align-items-center">
                    <span class="ratedTop">★</span>
                    <span class="ratedTop">★</span>
                    <span class="ratedTop">★</span>
                    <span class="ratedTop">★</span>
                    <span>★</span>
                  </div>
                </div>
                <div class="img">
                  <img src="" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="contentBody">
            <div class="subHead">
              <h2>Rate this product</h2>
              <div class="rating d-flex align-items-center">
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <input type="number" name="rating" hidden id="starInput">
              </div>
            </div>
            <div class="subHead">
              <h2 class="threeHead">Review this product</h2>
              <textarea class="large-input" name="description" rows="5" placeholder="Type your description here..."></textarea>
              <textarea class="large-input small" name="title" rows="5" placeholder="Type your title here..."></textarea>
              <button type="submit" class="submitBtn">SUBMIT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>
    const stars = document.querySelectorAll('.star');
    const input = document.querySelector('#starInput');
    stars.forEach((element, index) => {
      element.addEventListener('click', () => {
        stars.forEach((each, i) => {
          if (i <= index) {
            each.classList.remove('ratedstar');
            each.classList.add('ratedstar');
          } else {
            each.classList.remove('ratedstar');
          }
        });
        input.value = index + 1;
      });
    });
  </script>
  
  <script src="https://kit.fontawesome.com/23d1247997.js" crossorigin="anonymous"></script>
</body>
</html>
