/* editProduct.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(/images/pix1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section {
    max-width: 900px;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    width: 200px;
    height: 200px;
    /* overflow: hidden; */
    margin-bottom: 20px;
}
.liya{
    margin-left: 39px;
}
/* .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("/public/images/Banner1.jpg");
} */

.text {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="file"],
input[type="number"],
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

